.widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(40rem, 100%));
  grid-auto-rows: 1fr;
  gap: var(--grid-gap-md);
  margin-top: var(--space-2-5rem);
  margin-bottom: var(--space-3rem);
}

/* Mobile styles */
@media (max-width: 768px) {
  .widgets {
    gap: var(--space-1-5rem);
    margin-bottom: var(--space-1-5rem);
  }
}
