.projectsSection {
  margin-bottom: var(--space-3-5rem);
}

.worksGrid {
  padding-top: var(--space-2rem);
}

/* Mobile styles */
@media (max-width: 768px) {
  .projectsSection {
    margin-bottom: var(--space-1-5rem);
  }

  .worksGrid {
    padding-top: var(--space-2-5rem);
  }
}
