.projectsSection {
  --project-grid-min-height: 18rem;

  margin-bottom: var(--space-3-5rem);
}

.projectsGrid {
  display: grid;
  grid-template-columns: var(--grid-cols-3);
  gap: var(--grid-gap-md);
  grid-auto-rows: minmax(var(--project-grid-min-height), auto);
  padding-top: var(--space-2rem); /* Distance between description and cards */
}
